{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block precontent %}
    <div class="starter-template">
        <h1>Treat Yo' Pup!</h1>
        <h4>Find the perfect toy for your furry friend</h4>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <img src="/static/img/puppy_jake.jpg" height="520" width="390">
        <br><br><br>
        <form  action="/recommender" method="GET">
            <div>
                <button type="submit" class="btn btn-primary btn-lg" style="height: 100px; width: 500px; font-size: 30pt">Let's get started!</button>
            </div>
        </form>
    </div>
{% endblock %}