{% extends "layout.html" %}
{% block title %}Treat yo' Pup{% endblock %}
{% block precontent %}
    <div class="starter-template">
        <h1>Welcome to the best recommenda eva!</h1>
        <p>Enter some user input yo</p>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <form  action="/toys" method="GET">
            <div class="form-group">
                <div>
                    <h3>Describe your pup's favorite toys:</h3>
                    <h6>(250 chars)<br><br></h6>
                </div>
                <textarea type="text" id="user_input" name='user_input' placeholder="e.g. " rows="3" cols="75" maxlength="250" required></textarea>
            </div>
            <br><br>
            <div >
                <h3>Select a few key words:</h3>
            </div>
            <br>
            <div>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <link rel="stylesheet" href="https://rawgit.com/dbrekalo/fastselect/master/dist/fastselect.min.css">
                <script src="https://rawgit.com/dbrekalo/fastsearch/master/dist/fastsearch.min.js"></script>
                <script src="https://rawgit.com/dbrekalo/fastselect/master/dist/fastselect.min.js"></script>

                <select name="user_keywords" , id="user_feature_options", class="multipleSelect" multiple name="user_features_mult">
                <option value="durable">Durable</option>
                <option value="engaging">Engaging</option>
                <option value="noisy">Makes Noise</option>
                <option value="quality">Quality</option>
                <option value="safety">Safety</option>
                <option value="soft">Soft</option>
                </select>

                <!-- Javascript to record Multiselect Input Selections -->
                <script>
                    $('.multipleSelect').fastselect();
                    var $user_feature_options = $('user_keywords');
                </script>
            </div>
            <br><br>
            <div>
                <h3>Weigh your inputs</h3>
            </div>
            <br>
            <div class="form-group slidecontainer">
                <label style="vertical-align: middle" for="user_kw_weight"><h5>Description</h5></label>
                <input type="range" id="user_kw_weight" name='user_kw_weight' min="0" max="6" step="1" value="1" class="slider" style="width: 50%; height: 25px;">
                <label style="vertical-align: middle" for="user_kw_weight"><h5>Keywords</h5></label>
            </div>
            <br>
            <div>
                <button type="submit" style="height: 75px; width: 300px; font-size: 30pt" class="btn btn-primary btn-lg">Treat yo pup!</button>
            </div>
        </form>
    </div>
{% endblock %}
