{% extends "layout.html" %}
{% block title %}Toys{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .popover {
            max-height: 400px;
            overflow-y: auto;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="starter-template">
            <h2>Results:</h2>
            <p class="lead">Below are the top recommendations for:</p>
            <p>"{{ user_text }}" <br> {{ user_kw }}</p>
        </div>

        <table class="table table-hover">
            <tr>
                <th>Percent Match</th>
                <th>Toy Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Reviews</th>
                <th></th>
            </tr>
            {% for toy in toys %}
            <tr>
                <td style="vertical-align: middle">{{ toy['sim'] }} %</td>
                <td style="vertical-align: middle; width: 40%">
                    <a href="{{ toy['url'] }}" style="color: black">
                        {{ toy['name'].split(",")[0] }}
                    </a>
                </td>
                <td style="vertical-align: middle">
                    <a href="{{ toy['url'] }}">
                        <img src="{{ toy['image'] }}" height="90" width="90">
                    </a>
                </td>
                <td style="vertical-align: middle">{{ toy['price'] }}</td>
                <td style="vertical-align: middle">
                    <p>{{toy['stars']}} / 5 <br> ({{toy['n_reviews']}} reviews)</p>
                </td>
                <td style="vertical-align: middle">
                    <a href="#" title="Matching Review" data-toggle="popover" data-placement="right" data-trigger="focus" data-content="{{ toy['review'] }}" data-html="true">
                        <i class="fa fa-info-circle fa-lg" style="color: rgb(60, 60, 60)"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
    </script>
{% endblock %}
